.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.classpath
.project
.gradle/
bin
gen
proguard-project.txt
project.properties
videogars.xml
module_videogars.xml
videogars.properties
.idea
*.iml
out
local.*
build
!build.gradle
!.gitignore
